ul, li {
    list-style: none;
    margin: 0;
    padding: 2px 0 0 0;
    cursor: pointer;
}

svg {
    margin-right: 4px;
}
.menu {
    color: white;
}

.show {
    display: block;
}

.hide {
    display: none;
}

